<!DOCTYPE html>
<html lang="en">

<head>
	<title>Markdown Edit{% if titlename %} - {{titlename }} {% endif %}</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="A full-featured Markdown editor for Windows with an emphasis on content and keyboard shortcuts" />
	<meta name="keywords" content="markdown editor,markdown editor windows,markdown,editor,markdown word processor,WYSIWYM,WYSIWYG,Commonmark">	<title>Markdown Edit</title>
	<link rel="stylesheet" href="{{ site.url }}default.css" />
</head>

<body>
	<div id="container">
		{{content}}
	</div>
</body>

</html>