--- 
layout: default
---

<div id="code52"><a href="http://mike-ward.net">a mike-ward.net project</a></div>
<h1><span id="apptitle" class="accent">Markdown Edit</span>&nbsp;&ndash;&nbsp;the content first editor</h1>
<div id="screenshot">
	<img src="{{ site.url }}images/screenshot.png">
	<img src="{{ site.url }}images/dropshadow_border_top.png" id="screenshotbordertop" class="screenshotborder">
</div>
<div id="features">
	<div class="feature">
		<h2>Modern UI, Minimal Distractions</h2>
		MDE is a full-featured Markdown editor for Windows with an emphasis on content and keyboard shortcuts. 
		A real editor, not a watered down text-area or rich-text control
	</div>
	<div class="feature">
		<h2>Accurate Syntax Highlighting</h2>
		MDE uses an Abstract Syntax Tree (AST) to color highlight content. 
		Other editors use regular expressions that don’t correctly interpret the multi-line block nature of Markdown.
	</div>
	<div class="feature">
		<h2>Live Preview</h2>
		Updates as you type. 
		Handles large documents with ease. 
		User defined templates. 
		MathJax support. Accurate scroll synchronization. 
		CommonMark and Github flavored markdown supported.
	</div>
	<div style="clear:both">&nbsp;</div>
</div>
<img src="{{ site.url }}images/dropshadow_border_bottom.png" id="screenshotborderbottom" class="screenshotborder" />
<div id="downloads">
	<img src="https://img.shields.io/github/release/mike-ward/Markdown-Edit.svg?style=flat-square" alt="Release badge" style="margin-left: 64px; margin-bottom: -0.5em" />
	<a href="https://github.com/mike-ward/Markdown-Edit/releases/latest"><img src="{{ site.url }}images/windows.png" />Download for Windows</a><br/>
	<a href="blog.html"><img src="{{ site.url }}images/blog.png" />Blog</a><br/>
	<a href="about.html"><img src="{{ site.url }}images/about.png" />About</a><br/>
	<a href="https://github.com/mike-ward/Markdown-Edit/"><img src="{{ site.url }}images/github.png" />Luke, use the source</a><br/><br/>
</div>
{{content}} 
{% include twitter.html %}
{% include follow.html %}